<div class="nested-fields">
    <p>
        <div class="row">
            <% if logged_in?( :admin) %>
                <div class="col-md-1"><%= link_to_remove_association '', f, class: "btn btn-danger glyphicon glyphicon-trash" %></div>
            <% end %>
            <div class="col-md-3">
                <%= f.text_field :archivero, placeholder: 'Núm. Archivero', class: "form-control" %>
            </div>
            <div class="col-md-3">
                <%= f.text_field :cajon, placeholder: 'Núm. Cajón', class: "form-control" %> 
            </div>
            <div class="col-md-3">	 
                <%= f.text_field :alias, placeholder: 'Alias', class: "form-control" %> 
            </div>
        </div>
         
    </p>
</div>  

 