@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 80px;     
	padding-left: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
}

footer {
    position: flex;
  	bottom: 0;
  	width: 100%;
  	top: 110%;
}

.login {
	padding: 10px 10px;
	background-color: #D8D8D8;

}

.buro {
	padding: 10px 10px;
	background-color: #0174DF;
	color: #FFFFFF;
}

.local {
	padding: 10px 10px;
	background-color: #FF0000;
	color: #FFFFFF;
}

.federal {
	padding: 10px 10px;
	background-color: #64FE2E;
}

.local a 
{ 
	color: #FFFFFF; 
}

.federal a 
{ 
	color: #FFFFFF; 
}

.buro a 
{ 
	color: #FFFFFF; 
}

 