@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 80px;     
	padding-left: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
}

footer {
    position: flex;
  	bottom: 0;
  	width: 100%;
  	top: 110%;
}

.login {
	padding: 10px 10px;
	background-color: #D8D8D8;

}

.buro {
	padding: 10px 10px;
	background-color: #0174DF;
	color: #FFFFFF;
}

.local {
	padding: 10px 10px;
	background-color: #FF0000;
	color: #FFFFFF;
}

.federal {
	padding: 10px 10px;
	background-color: #64FE2E;
}

.local a 
{ 
	color: #FFFFFF; 
}

.federal a 
{ 
	color: #FFFFFF; 
}

.buro a 
{ 
	color: #FFFFFF; 
}

.content-box-buro,
.content-box-local,
.content-box-federal,
.content-box-purple,
.content-box-red,
.content-box-yellow {
 
overflow: hidden;
padding: 10px;
}

.content-box-buro {
background-color: #d8ecf7;
border: 1px solid #afcde3;
}

.content-box-local {
background-color: #f9dbdb;
border: 1px solid #e9b3b3;
}

.content-box-federal {
background-color: #d9edc2;
border: 1px solid #b2ce96;
}

.content-box-purple {
background-color: #e2e2f9;
border: 1px solid #bebde9;
}

.content-box-red {
background-color: #f9dbdb;
border: 1px solid #e9b3b3;
}

.content-box-yellow {
background-color: #fef5c4;
border: 1px solid #fadf98;
}

 