@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 80px;     
	padding-left: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
}

footer {
    position: absolute;
  	bottom: 0;
  	width: 100%;
  	top: 130%;
}

.login {
	padding: 10px 10px;
    background-color: #D8D8D8;
    width: 40em;

}

 