@media screen and (max-width: 600px) {
       table {
           width:100%;
       }
       thead {
           display: none;
       }
        
       tbody td {
           display: block;
           text-align:center;
           width:100%;
       }
        
       .simple-calendar .day {
        height: 100%;
        width: 100%;
       }
}

.linea_tiempo {
  border-left: 6px solid green;
  height: 25px;
  width: 1px;
}

.btn-verde {
  background-color: #5F9EA0;
  color: white;
}

.btn-gris {
  background-color: #D3D3D3;
}

.btn-azul {
  background-color: #4682B4;
  color: white;
}