@media screen and (max-width: 600px) {
       table {
           width:100%;
       }
       thead {
           display: none;
       }
        
       tbody td {
           display: block;
           text-align:center;
           width:100%;
       }
        
       .simple-calendar .day {
        height: 100%;
        width: 100%;
       }
}